:root {
  --base: 2.5vmin;
  --radius: 1.25rem;
  --h3: calc(1.5rem + var(--base));
  --h4: calc(1.5rem + var(--base));
  --h1: calc(3.75rem + var(--base));
  --body: calc(1.625rem + var(--base));

  --primary: #130f49;
  --secondary: #d9f4ff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #130f49;
}

#__next {
  height: 100%;
}

.button {
  --color: #fff;
  --bg: var(--primary);

  border: none;
  font-weight: 500;
  color: var(--color);
  padding: 1.5rem 3rem;
  text-transform: capitalize;
  background-color: var(--bg);
  border-radius: var(--radius);
}

.section {
  @apply container flex flex-col items-center justify-center mx-auto p-5;
}

.visually-hidden {
  border: 0;
  margin: 0;
  padding: 0;
  width: 1px;
  height: auto;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

@media (pointer: fine) {
  .section {
    flex-direction: row;
  }
}

@media (hover: none) {
  .expandable {
    width: 100%;
  }
}
