.image {
  position: relative;
}

.image::after {
  top: 0;
  right: 0;
  content: "";
  z-index: -1;
  height: 115%;
  width: 39.5rem;
  position: absolute;
  background: url("/pink-blob.svg") no-repeat;
  background-size: cover;
  background-position: center;
}

.section__image {
  width: 30rem;
  height: 25rem;
  max-width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (hover: none) {
  .image::after {
    top: 60%;
    width: 22rem;
    height: 28rem;
  }
}

@media (pointer: fine) {
  .section__image {
    width: 50rem;
    height: 30rem;
  }
}
